<div id="home"> 
	<h1 class="moovle"><a href="/"> Moovle</a></h1>
	<form action="/search" method="get">
		<input type="text" name="title" placeholder="Search for movie title" class="search_box"/>
		<button class="btn primary-btn btn-small center">Moovle Search</button>
	</form>
</div>