<!DOCTYPE HTML>
	<html>
		<head>
			<title>Moovle</title>
			<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
			<link href="/style.css" rel="stylesheet">

		</head>
		<body>
			<%= yield %>
		</body>
	</html>
